<nav class="navbar navbar-expand-sm navbar-light fixed-top" style="background-color: #e3f2fd;">
  <span class="navbar-brand">うけつけひょう</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to "りようしゃいちらん", receptions_path, class: "nav-item nav-link active" %>
      <%= link_to "うけつけひょうをかく", new_reception_path, class: "nav-item nav-link active" %>
    </div>
  </div>
</nav>
<%#= link_to "りようしゃいちらん", receptions_path %>
<%#= link_to "うけつけひょうをかく", new_reception_path %>
<%# <hr> %>
